<table>
<caption>キャラクターデータ</caption>
<tbody>
	<tr>
		<td>
			<table class="status">
				<tbody>
					<tr> <td>紅い少年</td> </tr>
					<tr> <td><%= @user[:name] %></td> <td>継続登録</td> </tr>
					<tr> <td>プロフィール...</td> </tr>
					<tr> <th>愛称</th><td><%= @user[:nickname] %></td> <th>称号</th><td><%= @user[:honor] %></td> </tr>
					<tr> <th>エントリーNo.</th><td><%= @user[:eno] %></td> <th>隊列</th><td><%= @user[:line] %></td> </tr>
					<tr> <th>レベル</th><td>75</td> <th>経験値</th><td>602163/605520</td> </tr>
					<tr> <th>HP</th><td>9618/8546 +1072</td> <th>MP</th><td>4960/3590 +1370</td> </tr>
					<tr> <th>所持金</th><td>4078シリーン</td> <th>カルマ</th><td>0</td> </tr>
					<tr> <th>STR</th><td>644</td> <th>MGC</th><td>1125 +664</td> </tr>
					<tr> <th>VIT</th><td>1028 +515</td> <th>SNS</th><td>1289</td> </tr>
					<tr> <th>属性</th><td>赤</td> <th>職業</th><td>魔剣士</td></tr>
					<tr> <td>食材リスト...</td> </tr>
					<tr> <th>左手</th><td>輝剣『レミナフォリア』</td> </tr>
					<tr> <th>右手</th><td>聖盾 プリトウェン</td> </tr>
					<tr> <th>胴体</th><td>アロハシャツ</td> </tr>
					<tr> <th>アクセサリ</th><td>ミスリルリング</td> </tr>
					<tr> <th>アクセサリ</th><td>ミスリルリング</td> </tr>
					<tr> <th>アクセサリ</th><td>ミスリルリング</td> </tr>
					<tr> <th>衣服</th><td>白百合のヴェール</td> </tr>
					<tr> <th>魔晶</th><td>防御アップ</td> </tr>
					<tr> <th>魔晶</th><td>機敏アップ</td> </tr>
					<tr> <th>魔晶</th><td>精神アップ</td> </tr>
				</tbody>
			</table>
		</td>
		<td> <p>プロフィール画像</p> </td>
	</tr>
</tbody>
</table>